* {
  margin: 0;
  padding: 0;
  
}


/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgba(0,0,0,0.6);/* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content  */
#main {
  transition: margin-left .5s;
  padding: 20px;
}





  #main {
    margin: 10px;
   width: fit-content;
    font-size: 15px;
    position: fixed;
    color:  #fbf6f1;
  }

  #main:hover{
   color: #c72727;
  }


  

/* Slideshow container */
.header{
  padding-top: 10em;
}

/*
.slideshow-container {
  background: rgb(240, 237, 230, 0.1); 
  padding-top: 5em;
  position: relative;
  height: 100vh;

}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*  the "arrow/next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* main page with right and side arrow/next button */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #c72727;;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-family: 'Open Sans', sans-serif;
  color:#ddd;
  font-size: 50px;
}

/*  header background */
.header-top {
  background: url(/pic2.jpg)  fixed;
  background-repeat: no-repeat;
 background-size: cover;
 
}

.header-top, .header-info a {
  color:#c72727;
}



  .slideshow-container {
    background: rgb(240, 237, 230, 0.1); 
    padding-top: 5em;
    position: relative;
    height: 60vh;
}
  



  /* footer */
 #main-footer {
   background-color:#141411;
   color:rgb(187, 179, 179);
   height: 5rem;
 }

 #main-footer p {
   color: #fff;
 }

 .footer-content {
   display: flex;
   justify-content: space-between;
   height: 5rem;
   
   align-items:center;
 }
  #main-footer .social .fab {
    margin: 1rem;
    border: 1px #fff solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: .5rem;
  }

    .social .fab:hover {
      background-color: #ff9900;
    }
  
    /* about page*/
    
  .about-banner {
    height: 5rem;
    background-image: url(/pic2.jpg);
    background-repeat: no-repeat;
   background-size: cover;
  }


  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
    .item5 { grid-area: footer; }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      
      'menu menu footer footer footer footer';
    grid-gap: 20px;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .grid-container > div {
   
    text-align: center;
    padding: 20px;
    
  }
  
  .item1 {
    border-bottom: #EC7063  solid;
    font-family: 'Open Sans', sans-serif;
      color: rgb(29, 28, 28);
      font-size: 20px;
      
  }

  .item2 img {
    
    padding-left: 5px;
    width: auto;
    height: 300px;
    
  }
  .grid-container .item2 {
     
    background-color: #faf4ec;;
    border-radius: 5px;
  }

  .grid-container .item5 {
    padding-top: 2em;
    background-color: rgb(229, 213, 243);
    border-left: #e42c17 solid;
    border-radius: 5px;
      }

      .intro1 {
        font-family: 'Open Sans', sans-serif;
          color:rgb(15, 14, 14);
          font-size: 25px;
        }
        p  {font-family: 'Open Sans', sans-serif;
          color: rgba(0,0,0,0.8);
             font-size: 25px;}
        



      
/* skill*/
.skill{
  color: #fff;
}

  #about-b {
    
    background: #333;
    padding-bottom: 20px;
    padding-left: 5px;
    color: #fff;
    font-size: 1.5rem;
  }
.section-title{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color:rgb(27, 25, 25);
 
}

  .progress {
    width: 90vw;
    overflow: hidden;
    height: 20px;
    background-color: #ebe3ee;
    border-radius: 5px;
    margin-bottom: 0.5em; 
    
    
  }

  .progress div {   
    height: 100%; 
    color: white;    
    background: #EC7063;}


 
  
  /*projects*/

  /*
  .gallary-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    just:ify-content: center;
    padding: 20px 20px ;
  }
  
   
  .gallary-container {
    position: relative;
    width: 35%;
}
    

    .row {
      display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 5px;*/
    
    .column{ 
      position: relative;  
        width: 50%;
        
      }
      
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: .3s ease;
        transition: .3s ease;
        
      }
      
      .column:hover .overlay {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: .9;
      }

      
      
      .text {
        color: rgb(27, 25, 25);
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
      
     /* body {
        background-color: #f1f1f1;
        padding: 20px;
        font-family: Arial;
      }
      
      /* Center gallary website*/
      .main {
        max-width: 1000px;
        margin: auto;
      }
      
      h1 {
        font-size: 50px;
        word-break: break-all;
      }
      
      .row {
        margin: 8px -16px;
      }
      
      /* Add padding BETWEEN each column */
      .row,
      .row > .column {
        padding: 40px;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 25%;
      }
      
      /* Clear floats after rows */ 
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Content */
      .content {
        background-color: white;
        padding: 10px;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns 
      @media screen and (max-width: 900px) {
        .column {
          width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }*/
  
  
/*contact*/

#contact-a {
  padding: 10px;
  height: 70vh;
}

.bottom-line {
  border-bottom: tomato solid;
  
}
#contact-a .text-fields {
  padding-top: 30px;
  display: grid;
  grid-template-areas: 'name email' 'subject phone' 'message message';
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem; }
  #contact-a .text-fields .name-input {
    grid-area: name; }
  #contact-a .text-fields .subject-input {
    grid-area: subject; }
  #contact-a .text-fields .email-input {
    grid-area: email; }
  #contact-a .text-fields .phone-input {
    grid-area: phone; }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px; }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem; }

.btn-sub {
  display: flex;
  justify-content: center;
}

    #contact-a button[type='submit'] {
      width: 50%;
    height: 50px;
  font-size: 2rem;
overflow: hidden; }

  #contact-a button[type='submit']:hover{

   background-color:  tomato;  }
    
#contact-b {
  background-color: #161615;
  color: #ddd;
  
}
#contact-b p{
  color: #ddd;
}


#contact-b .contact-info {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }


#contact-c h1 {
  text-align: center;
  font-size: 4rem;
 }

 #contact-c{
   background-color: tomato;
   
 }
